* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 50em;
    margin: auto;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

ul {
    font-size: 20px;
    line-height: 1.5;
}