<!DOCTYPE html>
<html>

<head>
  <script type="module" src="./chat.js"></script>
  <link rel="stylesheet" href="style.css">
</head>


<body>
  <div id="app">
    <div id="top_bar">
      <div>
        <button @click="$gf.toggleLogIn">
          <!-- If we have a user ID, we're logged in so show "Log Out" -->
          <!-- Otherwise, show "Log In" -->
          {{ $gf.me? 'Log Out' : 'Log In' }}
        </button>
      </div>

      <div>
        <div v-if="!editingSettings">
          <div>
            <button @click="startEditingSettings()" id="settings">
              ⚙️
            </button>
          </div>
        </div>

      </div>
    </div>
    <h1>
      Welcome, <name :actor="$gf.me"></name>!
    </h1>

    <hr>

    <!-- If we're not logged in, hide everything except the login button -->
    <div v-if="!$gf.me" id="log_in_message">
      You are not logged in. Please log in to use the chat app.
    </div>

    <div v-if="editingSettings" id="editing_settings">
      <pfp :actor="$gf.me" :editable="true" :downloadedpfps="downloadedProfilePictures" id="my_profile_picture">
      </pfp>

      <div>
        <div>
          Name: <name :actor="$gf.me" :editable="true"></name>
        </div>
        <div>
          Username: @{{ myUsername }}
        </div>
        <form @submit.prevent="requestUsername">
          <label>
            Change Username: <input type="text" name="username" v-model="requestedUsername"
              @input="event => validateUsername()">
          </label>
          <button type="submit" id="request_username_button" disabled>Submit</button>
        </form>
        <div id="invalid_username"></div>
      </div>




      <button @click="stopEditingSettings">Done</button>
      <hr>
    </div>


    <template v-if="$gf.me">
      <div id="channel_settings">
        <p>
          <input type="radio" id="channel" :value="false" v-model="privateMessaging" />
          <label for="channel">Channel-based public chat</label>

          <!-- call search User if you click on private messaging tab -->
          <input type="radio" id="pm" :value="true" v-model="privateMessaging" @click="searchUser()" />
          <label for="pm">Private Messaging</label>
        </p>

        <p v-if="!privateMessaging">
          <label for="channel">
            Change the channel you're chatting in:
          </label>
          <input id="channel" v-model="channel" />
        </p>
        <p v-else>
          <label for="recipient">
            Paste the username of who you'd like to chat with:
          </label>

          <input id="recipient" v-model="recipientUsername" @input="event => searchUser()" />
        </p>
      </div>

      <hr>

      <div id="user_info">
        <div>
          <pfp :actor="$gf.me" :downloadedpfps="downloadedProfilePictures" id="my_profile_picture"></pfp>
          <div class="settings_username">
            @{{ myUsername}}
          </div>
        </div>

        <div>
          <form @submit.prevent="sendMessage(); resetAttachedFile()">
            <!-- Send a message -->
            <div class="message_and_send">
              <input v-model="messageText" placeholder="Type a message..." id="message_input" />
              <input type="submit" value="➡️" id="send_message" class= "sending_message" :disabled="privateMessaging" />
            </div>
            <!-- Add an image -->
            <input class="choose_file" type="file" accept="image/png, image/jpeg" / @change="onImageAttachment"
              id="attached_file">

          </form>
        </div>
      </div>

      <hr>

      <br>


      <!-- Loading sign -->
      <div id="loading_block" hidden>
        <img src="loader.svg" class="loader_icon">
        Loading messages...
      </div>

      <div id="number_of_messages">
        {{ messages.length }} results shown!
      </div>

      <div v-if="messages.length == 0" id="no_messages">
        <br>
        No messages in this channel yet! Send something to get started!
      </div>

      <br>


      <!-- Print out Messages -->
      <div v-for="message of messages" :key="message.id">
        <form v-if="editID==message.id" @submit.prevent="saveEditMessage(message)">
          <div class="message_template">
            <input v-model="editText">
            <input type="submit" value="Save" />
          </div>
          <br>
        </form>

        <div v-else>

          <div class="message_template">
              <div v-if="!privateMessaging">
                <div>
                  <pfp :actor="message.actor" :downloadedpfps="downloadedProfilePictures"></pfp>
                </div>
                
                <div>
                  <span class="message_author">
                    <name :actor="message.actor" v-model="messageUserID"></name>
                  </span>
      
                  <span class="username_wrap">
                    @<span class="username">{{ actorsToUsernames[message.actor] }}</span>
                  </span>
                </div>
              </div>


            <template v-if="privateMessaging">
              <div class="private_title">
                <div>
                  <div>
                    <pfp :actor="message.actor" :downloadedpfps="downloadedProfilePictures"></pfp>
                  </div>
                  
                  <div>
                    <span class="message_author">
                      <name :actor="message.actor" v-model="messageUserID"></name>
                    </span>
        
                    <span class="username_wrap">
                      @<span class="username">{{ actorsToUsernames[message.actor] }}</span>
                    </span>
                  </div>
                </div>

                <div style="font-size: 50px;">
                  ➡️
                </div>

                <div>
                  <div>
                    <pfp :actor="message.bto[0]" :downloadedpfps="downloadedProfilePictures"></pfp>
                  </div>
                  <span class="message_author">
                    <name :actor="message.bto[0]"></name>
                  </span>
                  <span class="username_wrap">
                    @<span class="username">{{ findUsername(message.bto[0]) }}</span>
                  </span>
                </div>
              </div>
            </template>

            <br>

            <div class="message_content">
              Message: {{ message.content }}
            </div>

            <!-- NEW STUFF -->

            <div v-if="message.attachment">
              <template v-if="message.attachment.magnet in downloadedImages">
                <img v-if="downloadedImages[message.attachment.magnet]"
                  :src="downloadedImages[message.attachment.magnet]">
                <span v-else>
                  Image couldn't be downloaded!
                </span>
              </template>

              <template v-else>
                <img src="loader.svg" class="loader_icon">
                Loading image...

              </template>
            </div>

            <div>
              Published at: {{ convertDate(message.published) }}
            </div>
            <div v-if="message.published != message.updated">
              Last Edited at: {{ convertDate(message.updated) }}
            </div>

            <div>
              <like :messageid="message.id"></like>
            </div>

            <div>
              Read users: <read :messageid="message.id" :actorstousernames="actorsToUsernames" :myusername="myUsername">
              </read>
            </div>



            <template v-if="message.actor==$gf.me">
              <button @click="startEditMessage(message)" class="edit_message">
                Edit Message
              </button>
              <button @click="removeMessage(message)" class="delete_message">
                Delete Message
              </button>
            </template>
            <hr>

            <div class="message_and_send">
              <reply :messageid="message.id" :actorstousernames="actorsToUsernames" :myusername="myUsername"
                :recip="recipient" :channel="channel" :privatemessage="privateMessaging">
            </div>

            <hr>

            <div v-for="reply of messageReplies(message)" :key="reply.id">
              <form v-if="editID==reply.id" @submit.prevent="saveEditMessage(reply)">
                <div class="reply_template">
                  <input v-model="editText">
                  <input type="submit" value="Save" />
                </div>
                <br>
              </form>

              <div v-else>
                <div class="reply_template">
                  <div>
                    <pfp :actor="reply.actor" :downloadedpfps="downloadedProfilePictures"></pfp>
                  </div>
                  
                  <span class="message_author">
                    <name :actor="reply.actor" v-model="replyUserID"></name>
                  </span>

                  <span class="username_wrap">
                    @<span class="username">{{ actorsToUsernames[reply.actor] }}</span>
                  </span>

                  <div class="message_content">
                    Reply: {{ reply.content }}
                  </div>

                  <div v-if="reply.attachment">
                    <template v-if="reply.attachment.magnet in downloadedImages">
                      <img v-if="downloadedImages[reply.attachment.magnet]"
                        :src="downloadedImages[reply.attachment.magnet]">
                      <span v-else>
                        Image couldn't be downloaded!
                      </span>
                    </template>

                    <template v-else>
                      <img src="loader.svg" class="loader_icon">
                      Loading image from

                    </template>
                  </div>

                  <div>
                    Published at: {{ convertDate(reply.published) }}
                  </div>
                  <div>
                    Last Edited at: {{ convertDate(reply.updated) }}
                  </div>

                  <div>
                    <like :messageid="reply.id"></like>
                  </div>

                  <div>
                    Read users: <read :messageid="reply.id" :actorstousernames="actorsToUsernames"
                      :myusername="myUsername">
                    </read>
                  </div>

                  <template v-if="reply.actor==$gf.me">
                    <button @click="startEditMessage(reply)" class="edit_message">
                      Edit Reply
                    </button>
                    <button @click="removeMessage(reply)" class="delete_message">
                      Delete Reply
                    </button>
                  </template>
                </div>
              </div>
            </div>
          </div>
          <br>

        </div>
      </div>



    </template>
  </div>

  <template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->


      {{ profile? profile.name : 'Anonymous' }}

      <!-- Also if the name is "editable" add an edit button -->
      <button v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="saveName">
      <input v-model="editText" />
      <input type="submit" value="Save Name" />
    </form>
  </template>




  <template id="pfp">
    <div v-if="profile">
      <div v-if="profile.icon">
        <br>
        <template v-if="profile.icon.magnet in downloadedpfps">
          <img v-if="downloadedpfps[profile.icon.magnet]" :src="downloadedpfps[profile.icon.magnet]"
            class="profile_picture">
          <span v-else>
            <img src="profile_icon.png" class="profile_picture">
          </span>
        </template>
      </div>
      <div v-else>
        v-if = profile.icon
      </div>
    </div>

    <div v-else>
      No Profile Found
    </div>
    <div v-if="!editing">
      <div>
        <button v-if="editable" @click="editProfilePicture">
          Edit Profile Picture
        </button>
      </div>
    </div>

    <form v-else @submit.prevent="saveProfilePicture();">
      <input type="file" accept="image/png, image/jpeg" / @change="onImageAttachment">
      <input type="submit" value="Save Profile Picture" id="save_profile_picture" :disabled="privateMessaging" />
      <button @click="cancelEditing()">Cancel</button>
    </form>
  </template>


  <template id="like">
    <button @click="toggleLike" class="like_button">
      {{ myLikes.length? '❤️' : '🖤' }}
    </button>
    {{ numLikes }} Likes
  </template>

  <template id="read">
    {{ readUsers }}
  </template>


  <template id="reply">
    <form @submit.prevent="sendReply()">
      <div class="reply_and_send">
        <div>
          <input v-model="replyText" placeholder="Type a reply..." id="reply_input" / class="message_input">
        </div>
        <input type="submit" value="➡️" :disabled="privateMessaging" class="send_reply" />
        <input type="file" accept="image/png, image/jpeg" / @change="onImageAttachment">
      </div>

      <!-- :disabled="privateMessaging" -->
    </form>
  </template>

</body>

</html>