<!DOCTYPE html>
<html>

<head>
  <script type="module" src="./chat.js"></script>
  <link rel="stylesheet" href="style.css">
</head>


<body>
  <div id="app">
    <div>
      <button @click="backToChat()">Back to Chat</button>
    </div>

    <h1>
      Welcome, <name :actor="$gf.me"></name>!
    </h1>

    <hr>
    <h2>
      Your Saved Messages Collections
    </h2>

    <div v-if="Object.keys(savedThreadsDictionary).length == 0">
      You don't have any saved messages right now!
    </div>

    <div v-for="(threadMessages, threadName) of savedThreadsDictionary">
      <details>
        <summary class="summary">
          <span class="thread" v-if="!editingThreadName">
            <span>
              <span>

              </span>
              <span class="thread_name_display">
                {{threadName}}
              </span>
            </span>

            <span class="thread_buttons">
              <button style="margin-right: 5px" @click="editThreadText = threadName; editingThreadName = true">✏️</button>
              <button @click="deleteWholeThread(threadName)">🗑️</button>
            </span>
          </span>

          <span class="thread" v-else>
            <span>
              <span>
                <input v-model="editThreadText">
              </span>
            </span>

            <span class="thread_buttons">
              <button @click="changeThreadName(threadName)" style="margin-right: 5px">✔️</button>
              <button @click="editingThreadName = false">❌</button>
            </span>
          </span>
          
          
        </summary>
        <br>
        <div>
          <div v-for="(message, messageId) of threadMessages">
            <div class="message_template">
              <div>
                <input v-if="savingThread" type="checkbox" @change="toggleSelect(message); enableSaveThreadButton()">
              </div>
              <div v-if="!message.bto">
                <div>
                  <pfp :actor="message.actor" :downloadedpfps="downloadedProfilePictures"></pfp>
                </div>
    
                <div>
                  <span class="message_author">
                    <name :actor="message.actor" v-model="messageUserID"></name>
                  </span>
    
                  <span class="username_wrap">
                    @<span class="username">{{ actorsToUsernames[message.actor] }}</span>
                  </span>
                </div>
              </div>
    
    
              <template v-if="message.bto">
                <div class="private_title">
                  <div>
                    <div>
                      <pfp :actor="message.actor" :downloadedpfps="downloadedProfilePictures"></pfp>
                    </div>
    
                    <div>
                      <span class="message_author">
                        <name :actor="message.actor" v-model="messageUserID"></name>
                      </span>
    
                      <span class="username_wrap">
                        @<span class="username">{{ actorsToUsernames[message.actor] }}</span>
                      </span>
                    </div>
                  </div>
    
                  <div style="font-size: 50px;">
                    ➡
                  </div>
    
                  <div>
                    <div>
                      <pfp :actor="message.bto[0]" :downloadedpfps="downloadedProfilePictures"></pfp>
                    </div>
                    <span class="message_author">
                      <name :actor="message.bto[0]"></name>
                    </span>
                    <span class="username_wrap">
                      @<span class="username">{{ findUsername(message.bto[0]) }}</span>
                    </span>
                  </div>
                </div>
              </template>
    
              <br>
    
              <div class="message_content">
                Message: {{ message.content }}
              </div>
    
              <!-- <div>
                {{ message.id}}
              </div> -->
    
              <!-- NEW STUFF -->
    
              <div v-if="message.attachment">
                <template v-if="message.attachment.magnet in downloadedImages">
                  <img v-if="downloadedImages[message.attachment.magnet]"
                    :src="downloadedImages[message.attachment.magnet]">
                  <span v-else>
                    Image couldn't be downloaded!
                  </span>
                </template>
    
                <template v-else>
                  <img src="loader.svg" class="loader_icon">
                  Loading image...
    
                </template>
              </div>
    
              <div>
                Published at: {{ convertDate(message.published) }}
              </div>
              <div v-if="message.published != message.updated">
                Last Edited at: {{ convertDate(message.updated) }}
              </div>
              <button class="delete_message" @click="deleteMessageFromThread(threadName, message)">Delete Message from Collection</button>
    
              <hr v-if="messageReplies(message).length > 0">
              <div v-for="reply of messageReplies(message)" :key="reply.id">
                <form v-if="editID==reply.id" @submit.prevent="saveEditMessage(reply)">
                  <div class="reply_template">
                    <input v-model="editText">
                    <input type="submit" value="Save" />
                  </div>
                  <br>
                </form>
    
                <div v-else>
                  <div class="reply_template">
                    <div>
                      <pfp :actor="reply.actor" :downloadedpfps="downloadedProfilePictures"></pfp>
                    </div>
    
                    <span class="message_author">
                      <name :actor="reply.actor" v-model="replyUserID"></name>
                    </span>
    
                    <span class="username_wrap">
                      @<span class="username">{{ actorsToUsernames[reply.actor] }}</span>
                    </span>
    
                    <div class="message_content">
                      Reply: {{ reply.content }}
                    </div>
    
                    <div v-if="reply.attachment">
                      <template v-if="reply.attachment.magnet in downloadedImages">
                        <img v-if="downloadedImages[reply.attachment.magnet]"
                          :src="downloadedImages[reply.attachment.magnet]">
                        <span v-else>
                          Image couldn't be downloaded!
                        </span>
                      </template>
    
                      <template v-else>
                        <img src="loader.svg" class="loader_icon">
                        Loading image from
    
                      </template>
                    </div>
    
                    <div>
                      Published at: {{ convertDate(reply.published) }}
                    </div>
                    <div>
                      Last Edited at: {{ convertDate(reply.updated) }}
                    </div>
    
                  </div>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      
      <!-- {{ threadName }}
      {{ threadMessages }} -->
    </div>

  </div>



  <template id="name">
    <span v-if="!editing">

      <!-- If we're not editing the name-->
      <!-- Display the profile's name, if it exists -->
      <!-- or anonymous if it doesn't -->


      {{ profile? profile.name : 'Anonymous' }}

      <!-- Also if the name is "editable" add an edit button -->
      <button v-if="editable" @click="editName">
        Edit Name
      </button>
    </span>

    <!-- If we're in the editing state, create something to edit the name-->
    <form v-else @submit.prevent="saveName">
      <input type="text" v-model="editText" />
      <input type="submit" value="Save Name" id="save_name" />
    </form>
  </template>


  <!-- TEMPLATES -->

  <template id="pfp">
    <div v-if="profile">
      <div v-if="profile.icon">
        <br>
        <template v-if="profile.icon.magnet in downloadedpfps">
          <img v-if="downloadedpfps[profile.icon.magnet]" :src="downloadedpfps[profile.icon.magnet]"
            class="profile_picture">
          <span v-else>
            <img src="profile_icon.png" class="profile_picture">
          </span>
        </template>
      </div>
      <div v-else>
        v-if = profile.icon
      </div>
    </div>

    <div v-else>
      No Profile Found
    </div>
    <div v-if="!editing">
      <div>
        <button v-if="editable" @click="editProfilePicture">
          Edit Profile Picture
        </button>
      </div>
    </div>

    <form v-else @submit.prevent="saveProfilePicture();">
      <input type="file" accept="image/png, image/jpeg" / @change="onImageAttachment">
      <input type="submit" value="Save Profile Picture" id="save_profile_picture" :disabled="privateMessaging" />
      <button @click="cancelEditing()">Cancel</button>
    </form>
  </template>
</body>